@use "../../../../../assets/scss/variables" as var;
@use "../../../../../assets/scss/mixins" as mxn;
@use "../../../../../assets/scss/extends" as ext;

div.resume-client-prestation {
    display: flex;
    flex-direction: column;
    gap: var.$gap-xl;
    border-radius: var.$rounded-lg;
    background-color: var.$light-blue;
    padding: 1.5rem;

    div.wrapper {
        display: flex;
        align-items: center;
        gap: var.$gap-base;

        div.icon {
            color: var.$primary;
            font-size: var.$txt-xl;
        }

        h3 {
            font-size: var.$txt-lg;
            font-weight: 600;
        }
    }

    div.description-client-prestation {
        display: flex;
        flex-direction: column;
        gap: var.$gap-md;

        
        h4{
            font-weight: 600;
        }

        p {
            font-size: var.$txt-sm;
        }
    }

    div.craftsman-suggestion-prestation {
        display: flex;
        flex-direction: column;
        gap: var.$gap-base;

        @media screen and (min-width: var.$bp-lg) {
            flex-direction: row;
        }
        div.price-card,
        div.date-card {
            width: 100%;
            display: flex;
            align-items: center;
            gap: var.$gap-base;
            background-color: var.$full-white;
            border-radius: var.$rounded-lg;
            padding: 1.5rem;

            div.icon {
                font-size: var.$txt-lg;
                padding: 1.2rem;
                border-radius: var.$rounded-lg;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div.suggestion-content {
                display: flex;
                flex-direction: column;

                p {
                    font-size: var.$txt-base;
                    font-weight: 600;
                }

                p.suggestion,
                p.suggestion-date {
                    font-size: var.$txt-sm;
                    font-weight: 400;
                }

                p.suggestion.price {
                    font-size: var.$txt-lg;
                    color: #16a34a;
                }
            }
        }

        div.price-card > div.icon {
            @include mxn.success;
        }

        div.date-card > div.icon {
            @include mxn.info;
        }
    }
}
