@use "variables" as var;

@mixin btn ($color : primary){
    padding : 0.6rem 1.2rem;
    border : none;
    border-radius: var.$rounded-md;

    transition-duration: 0.1s;
    transition-property: background-color;
    @if $color == primary {
        background : var.$primary;
        color : var.$text-white;
        &:hover {
            background: rgba(var.$primary, 0.8);
        }
    } @else if $color == secondary {
        background : var.$secondary;
        color : var.$text-black;
        &:hover {
            background: rgba(var.$secondary-hover, 0.8);
        }
    }
}

@mixin flexCol {
    display : flex;
    flex-direction: column;
}
