@use "variables" as var;
@use "extends" as ext;

@mixin btn ($color : primary, $fs : var.$txt-base){
    padding : 0.6rem;

    font-size : $fs;

    border-radius: var.$rounded-md;

    transition-duration: 0.1s;
    transition-property: background-color;

    cursor: pointer;

    @if $color == primary {
        background : var.$primary;
        color : var.$full-white;
        border : none;
        &:hover {
            background: rgba(var.$primary, 0.8);
        }

    } @else if $color == secondary {
        background : var.$secondary;
        color : var.$black;
        border : 1px #e6e6e6 solid;
        &:hover {
            background: rgba(var.$secondary-hover, 0.8);
        }

    }
}
