// colors
$primary : #89ABE3;
$secondary : #fdfdfd;
$secondary-hover : #ebebeb;
$tiertiary : #f9fafb;
$black : #18181b;
$gray : #6b7280;
$full-white : #ffffff;

//breakpoints (from tailwind css)
$bp-sm : 40rem; /* 640px mobile */
$bp-md : 48rem; /* 768px tablet */
$bp-lg : 64rem; /* 1024px laptop */
$bp-xl : 80rem; /* 1280px pc */
$bp-2xl : 96rem; /* 1536px wide screen*/

//radius
$rounded-sm : 0.25rem; /* 4px */
$rounded-md : 0.375rem; /* 6px */
$rounded-lg : 0.5rem; /* 8px */

//typography
$txt-xs: 0.75rem; /* 12px */
$txt-sm: 0.875rem; /* 14px */
$txt-base: 1rem; /* 16px */
$txt-lg: 1.125rem; /* 18px */
$txt-xl: 1.25rem; /* 20px */
$txt-2xl: 1.5rem; /* 24px */
$txt-3xl: 1.875rem; /* 30px */
$txt-4xl: 2.25rem; /* 36px */
$txt-5xl: 3rem; /* 48px */
$txt-6xl: 3.75rem; /* 60px */
$txt-7xl: 4.5rem; /* 72px */
$txt-8xl: 6rem; /* 96px */
$txt-9xl: 8rem; /* 128px */

//gaps
$gap-xs :  0.25rem; /* 4px */
$gap-sm :  0.5rem; /* 8px */
$gap-md :  0.75rem; /* 12px */
$gap-base :  1rem; /* 16px */
$gap-lg :  0.625rem; /* 10px */
$gap-xl : 1.25rem; /* 20px */