@use 'variables' as var;
@use "mixins" as mxn;
@use "extends" as ext;

:root {
    //Font setting
    font-family: "Nunito", Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color : var.$black;

    & #root {
        display : flex;
        flex-direction: column;
        min-height: 100vh;

        & main {
            flex-grow: 1;
        }
    }
}