@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins" as mxn;
@use "../../assets/scss/extends" as ext;

div.select-wrapper {
    display: flex;
    flex-direction: column;
    gap : var.$gap-sm;

    & label {
        font-size : var.$txt-sm;
        font-weight: 500;
    }

    & select {
        padding: 0.5rem 1rem;
        background-color : var.$secondary;
        color : var.$black;
        border : 1px #e6e6e6 solid;
        border-radius: var.$rounded-lg;
        cursor: pointer;
        width: 100%;
    }
}