@use "../../../assets/scss/variables" as var;
@use "../../../assets/scss/mixins" as mxn;
@use "../../../assets/scss/extends" as ext;

ul.craftsman-gallery{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows : 10rem;
    gap: var.$gap-xl;

    @media screen and (min-width : var.$bp-md) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media screen and (min-width : var.$bp-xl) {
        grid-template-columns: repeat(4, 1fr);
    }

    li.photo-gallery {
        border-radius: var.$rounded-lg;
        overflow: hidden;
        position : relative;

        div.filter-opacity{
            position : absolute;
            inset: 0;
            transition: all 0.3s ease-out;
            background-color: rgba(black, 0.35);
            opacity: 0;
            z-index: 1;

            display : flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            svg {
                font-size: var.$txt-3xl;
                color: var.$secondary-hover;
                transition: all 0.1s ease-in-out;

                &:hover{
                    font-size: var.$txt-4xl;
                }
            }
            
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}