@use "../../../../assets/scss/variables" as var;
@use "../../../../assets/scss/mixins" as mxn;
@use "../../../../assets/scss/extends" as ext;

div#users-tab {
    table {
        td {
            &.data-actions {
                div.btn-wrapper-user {
                    display: flex;
                    gap: var.$gap-sm;

                    button.btn {
                        @include mxn.btn;

                        &.button-delete-user {
                            @include mxn.danger($hover: true);
                        }
                        &.button-show-user {
                            @include mxn.info($hover: true);
                        }
                    }
                }

                div.confirm-delete-user {
                    display: flex;
                    flex-direction: column;
                    gap: var.$gap-sm;

                    p {
                        color: var.$danger;
                    }
                    div {
                        display: flex;
                        gap: var.$gap-sm;

                        button {
                            @include mxn.btn;
                        }

                        button.confirm-delete {
                            @include mxn.danger($hover: true);
                        }

                        button.confirm-yes {
                            @include mxn.success($hover: true);
                        }

                        button.confirm-no {
                            @include mxn.danger($hover: true);
                        }
                    }
                }
            }
        }
    }
}
