@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins" as mxn;
@use "../../assets/scss/extends" as ext;

main#main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : var.$gap-3xl;

    section.hero {
        width : 100%;

        @media screen and (min-width : var.$bp-lg) {
            max-width: var.$bp-2xl;
            
            display : flex;
            align-items: center;
            padding : 1.5rem 2rem 0 2rem;
            gap: var.$gap-5xl;
        }

        div.hero-content {
            display : flex;
            flex-direction: column;
            align-items: center;
            gap : var.$gap-base;

            h1 {
                font-size: var.$txt-4xl;
                font-weight: 800;
                }

            h2 {
                font-size: var.$txt-xl;
                color : var.$gray;
            }

            h1, h2 {
                line-height: 1.2;
                text-align: center;
            }

            @media screen and (max-width : var.$bp-lg) {

                padding : 3rem 2rem;

                h1, h2 {
                    max-width: 35rem;
                    text-align: center;
                }
            }

            @media screen and (min-width : var.$bp-lg) {
                width : 40%;
                gap : var.$gap-xl;

                h1 {
                    font-size: var.$txt-5xl;
                }

                h1, h2 {
                    text-align: start;
                }
            }

            div.hero-btn {
                display : flex;
                flex-direction: column;
                gap: var.$gap-xl;
                width : 100%;

                a.a-btn-secondary {
                    @include mxn.a-btn("secondary", var.$txt-sm);
                    width : 100%;
                }
    
                a.a-btn-primary {
                    @include mxn.a-btn("primary", var.$txt-sm);
                    width : 100%;
                }

                @media screen and (min-width : var.$bp-md) {
                    flex-direction: row;
                    justify-content: center;
                }

                @media screen and (min-width : var.$bp-lg) {
                    justify-content: start;

                    a.a-btn-secondary,
                    a.a-btn-primary {
                        width: 15rem;
                    }
                }
            }

        }

        div.hero-img{
            width : 100%;
            @media screen and (min-width : var.$bp-lg) {
                width : 60%;
            }

            img{
                object-fit: cover;
                width: 100%;
                height: 15rem;
                
                @media screen and (min-width : var.$bp-md) {
                    height : 22rem;
                    width: 100vw;
                }

                @media screen and (min-width : var.$bp-lg) {
                    width : 100%;
                    height : 35rem;
                    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%);
                    mask-image: linear-gradient(to right, transparent 0%, black 40%);

                    border-top-right-radius: var.$rounded-lg;
                    border-bottom-right-radius: var.$rounded-lg;
                }
            }
        }

    }

    div.content {
        max-width: var.$bp-2xl;
        width : 100%;

        display: flex;
        flex-direction: column;
        gap : var.$gap-3xl;
        padding: 0 2rem 2rem;
    }

    div.content-work {
        background-color: var.$full-white;
        display : flex;
        flex-direction: column;
        align-items: center;
        width : 100%;

        section.work-section{
            max-width: var.$bp-2xl;
            display : flex;
            flex-direction: column;
            gap : var.$gap-4xl;

            padding : 5rem 2rem;

            div.work-title{
                h2 {
                    font-size: var.$txt-3xl;
                    font-weight: 800;
                }
                h3 {
                    font-size: var.$txt-xl;
                    color : var.$gray;
                }

                h2, h3 {
                    text-align: center;
                }
                @media screen and (min-width : var.$bp-md) {
                    h2 {
                        font-size: var.$txt-4xl;
                    }
                }
            }

            div.step-container {
                display : grid;
                gap : var.$gap-4xl;
                grid-template-columns: 1fr;


                @media screen and (min-width : var.$bp-lg) {
                    grid-template-columns: repeat(3, 1fr);
                }

                div.step-item{
                    display : flex;
                    flex-direction: column;
                    align-items: center;
                    gap : var.$gap-base;

                    h2.step-title{
                        font-size : var.$txt-lg
                    }

                    h2.step-title,
                    p {
                        text-align: center;
                    }

                    div.step-bg {
                        background: var.$gray;
                        width: 5rem;
                        height : 5rem;
                        border-radius: var.$rounded-full;
                        display : flex;
                        align-items: center;
                        justify-content: center;

                        svg.step-icon {
                            color : var.$full-white;
                            font-size: var.$txt-2xl;
                        }
                    }
                }
            }
        }
    }
}