@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins" as mxn;
@use "../../assets/scss/extends" as ext;

li {
    &.active-menu {
        border-bottom: 1px var.$primary solid;
        &>a {
            color : var.$primary !important;
        }
    }
    a {
        font-size: var.$txt-base;
        text-decoration: none;
        color: var.$gray;
        letter-spacing: -0.5px;

        &:visited {
            color: var.$gray;
        }

        &:hover {
            color: var.$primary;
            transition: all 0.1s;
        }

        @media screen and (min-width: var.$bp-lg) {
            letter-spacing: normal;
        }
    }
}
