@use "../../../assets/scss/variables" as var;
@use "../../../assets/scss/mixins" as mxn;
@use "../../../assets/scss/extends" as ext;

div.informations-tab {
    display: flex;
    flex-direction: column;
    gap: var.$gap-xl;

    form {
        width: 100%;
        background-color: var.$full-white;
        border : 1px #e6e6e6 solid ;
        border-radius: var.$rounded-lg;
        padding : 1.5rem;

        display : flex;
        flex-direction: column;
        gap : var.$gap-xl;

        div.user-infos-input{
            display : grid;
            grid-template-columns: repeat(1, 1fr);
            gap : var.$gap-xl;

            @media screen and (min-width : var.$bp-md) and (max-width : var.$bp-lg) {
                grid-template-columns: repeat(2, 1fr);
            }
            
            @media screen and (min-width : var.$bp-lg) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        div.user-password-input,
        div.client-address-input{
            display : grid;
            grid-template-columns: repeat(1, 1fr);
            gap : var.$gap-xl;

            @media screen and (min-width : var.$bp-lg) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        div.user-picture-wrapper{
            display : flex;
            flex-direction: column;
            gap : var.$gap-xl;
            align-items: center;

            div.picture-wrapper{
                width: 15rem;
                height : 15rem;
                position : relative;

                div.input-file-wrapper{
                    width: 100%;
                    height : 100%;
                    overflow: hidden;
                    position : relative;
                    
                    border-radius: 100%;
                    border : 3px #e6e6e6 solid ;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    label {
                        position : absolute;
                        inset: 0;
                        display : flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                        transition: all 0.3s ease-out;
                        background-color: rgba(black, 0.35);
                        opacity: 0;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                        }

                        svg {
                            font-size: var.$txt-3xl;
                            color: var.$secondary-hover;
                            transition: all 0.1s ease-in-out;
                            &:hover{
                                font-size: var.$txt-4xl;
                            }
                        }
                    }

                    input#profile_picture {
                        position : absolute;
                        inset: 0;
                        overflow: hidden;
                        opacity: 0;
                    }
                    
                    img.profile-picture {
                        width: 100%;
                        height : 100%;
                        object-fit : cover;
                        object-position: 50% 50%;
                    }

                }
                button.button-delete-picture {
                    position : absolute;
                    right : 1.35rem;
                    top : 1.35rem;
                    background-color: transparent;
                    border : none;
                    font-size : var.$txt-lg;
                    color : var.$danger;
                    cursor : pointer;
                    transition: all 0.1s ease-out;

                    svg {
                        font-size: var.$txt-2xl;
                    }

                    &:hover{
                        color : var.$danger-hover;
                    }
                }
            }
            
        }


        @media screen and (min-width : var.$bp-md) {
            button.btn-primary{
                align-self: end;
            }
            div.alert-wrapper {
                align-self: end;
            }
        }

        div.client-infos-header{
            display: flex;
            flex-direction: column;
            gap : var.$gap-sm;

            h3 {
                font-size : var.$txt-base;
                font-weight: 400;
                color : var.$gray;
            }
        }
    }

}