@use "../../../assets/scss/variables" as var;
@use "../../../assets/scss/mixins" as mxn;
@use "../../../assets/scss/extends" as ext;

div.prestations-tab-craftsman {

    svg.loading-list {
        margin : 4rem auto;
    }

    display : grid;
    grid-template-columns: repeat(1, 1fr);
    gap : var.$gap-xl;

    @media screen and (min-width : var.$bp-lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    article.prestation-card{
        background-color: var.$full-white;
        border : 1px #e6e6e6 solid ;
        border-radius: var.$rounded-lg;

        padding : 1rem;
        display : flex;
        flex-direction: column;
        gap: var.$gap-2xl;

        div.wrapper {
            display : flex;
            justify-content: space-between;
            flex: 1;

            div.prestation-header {
                display : flex;
                flex-direction: column;
                gap: var.$gap-sm;
            
                h3.prestation-title {
                    font-size: var.$txt-lg;
                    font-weight: 700;
                }

                p.client-name{
                    font-size: var.$txt-sm;
                    color : var.$gray;
                }
            }
        }
        
        p.prestation-date {
            font-size: var.$txt-sm;
            color : var.$black;
        }
        
        button.btn-primary {
            align-self: end;
        }
    }


    //Modal
    div.modal.prestation-details {
        width: 100%;

        min-height: 10rem;
        @media screen and (min-width : var.$bp-md) {
            max-width: 75rem;
        }

        div.modal-header {
            display : flex; 
            align-items: center;
            gap: var.$gap-base;
            padding : 1.5rem;
            background-color: var.$light-blue;

            div.icon-bg{
                background-color: var.$primary;
                color: var.$full-white;
                padding: 0.8rem;
                border-radius: var.$rounded-lg;
                height : 3rem;
                width: 3rem;
                font-size: var.$txt-xl;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div.modal-title {
                h3{
                    font-size: var.$txt-xl;
                }

                h4{
                    font-size: var.$txt-sm;
                    color : var.$gray;
                }
            }
        }

        div.modal-main{
            padding : 1.5rem;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: var.$gap-2xl;
            overflow-y: auto;

            @media screen and (min-width : var.$bp-md) {
                grid-template-columns: repeat(8, 1fr);
            }

            div.modal-client-prestation{
                grid-column: span 1;

                display: flex;
                flex-direction: column;
                gap: var.$gap-2xl;

                @media screen and (min-width : var.$bp-md) {
                    grid-column: span 5;
                }

                div.resume-client-prestation{
                    display : flex;
                    flex-direction : column;
                    gap: var.$gap-xl;
                    border-radius: var.$rounded-lg;
                    background-color: var.$light-blue;
                    padding: 1.5rem;

                    div.wrapper{
                        display : flex;
                        align-items: center;
                        gap: var.$gap-base;

                        div.icon{
                            color : var.$primary;
                            font-size: var.$txt-xl;
                        }

                        h3{
                            font-size: var.$txt-lg;
                            font-weight: 600;
                        }
                    }

                    div.description-client-prestation{
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-md;

                        p{
                            font-size: var.$txt-sm;
                            &:nth-child(1){
                                font-weight: 600;
                            }
                        }
                    }

                    div.craftsman-suggestion-prestation{
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-base;

                        @media screen and (min-width : var.$bp-lg) {
                            flex-direction: row;
                        }
                        div.price-card,
                        div.date-card {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: var.$gap-base;
                            background-color: var.$full-white;
                            border-radius: var.$rounded-lg;
                            padding: 1.5rem;

                            div.icon {
                                font-size: var.$txt-lg;
                                padding: 1.2rem;
                                border-radius: var.$rounded-lg;
                                height: 2rem;
                                width: 2rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            div.suggestion-content{
                                display: flex;
                                flex-direction: column;

                                p{
                                    font-size: var.$txt-base;
                                    font-weight: 600;
                                }
                                
                                p.suggestion,
                                p.suggestion-date{
                                    font-size: var.$txt-sm;
                                    font-weight: 400;
                                }

                                p.suggestion.price{
                                    font-size: var.$txt-lg;
                                    color : #16a34a;
                                }
                            }
                        }

                        div.price-card > div.icon {
                            @include mxn.success;
                        }

                        div.date-card > div.icon {
                            @include mxn.info;

                        }
                    }
                }

                div.state-prestation{
                    border : 1px #e6e6e6 solid ;
                    border-radius: var.$rounded-lg;
                    padding: 1.5rem;
                    display : flex;
                    flex-direction: column;
                    gap: var.$gap-2xl;

                    div.wrapper{
                        display : flex;
                        align-items: center;
                        gap: var.$gap-base;

                        div.icon{
                            color : var.$primary;
                            font-size: var.$txt-xl;
                        }
                        
                        h3{
                            font-size: var.$txt-lg;
                            font-weight: 600;
                        }
                    }

                    div.wrapper-card{
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-base;

                        div.card {
                            padding: 1.5rem;
                            border-radius: var.$rounded-lg;

                            div.icon {
                                font-size: var.$txt-xl;
                            }
                        }

                        div.state-card {
                            display: flex;
                            align-items: center;
                            gap: var.$gap-base;

                            div.state-content{
                                display : flex;
                                flex-direction: column;
                                gap: var.$gap-xs;

                                h4{
                                    font-size: var.$txt-base;
                                    font-weight: 600;
                                }
                                p {
                                    font-size: var.$txt-sm;
                                }
                            }

                            &.pending{
                                @include mxn.pending;
                            }

                            &.confirmed{
                                @include mxn.info;
                            }

                            &.completed{
                                @include mxn.success;
                            }

                            &.refused{
                                @include mxn.danger;
                            }
                        }

                        div.info-card {
                            @include mxn.info;
                            display: flex;
                            align-items: start;
                            gap: var.$gap-base;
                            
                            div.info-content{
                                display : flex;
                                flex-direction: column;
                                gap: var.$gap-xs;
                                h4{
                                    font-size: var.$txt-base;
                                    font-weight: 600;
                                }

                                ul.info-list > li {
                                    font-size: var.$txt-sm;

                                    svg{
                                        padding-right : 0.5rem;
                                    }
                                }
                            }
                        }

                        div.creating-prestation-date {
                            display: flex;
                            flex-direction: column;
                            gap: var.$gap-base;
                            align-items: center;

                            @media screen and (min-width : var.$bp-lg) {
                                flex-direction: row;
                            }
                            div.created-card,
                            div.updated-card {
                                padding: 1.5rem;
                                border-radius: var.$rounded-lg;
                                background-color: var.$light-gray;
                                width: 100%;
                                display: flex;
                                flex-direction: column;

                                @media screen and (min-width : var.$bp-lg) {
                                    align-items: center;
                                }

                                & p:nth-child(1){
                                    font-weight: 600;
                                }
                                & p:nth-child(2){
                                    font-size : var.$txt-sm
                                }
                            }
                        }
                    }
                }
            }

            aside{
                grid-column: span 1;
                display : flex;
                flex-direction: column;
                gap: var.$gap-base;

                @media screen and (min-width : var.$bp-md) {
                    grid-column: span 3;
                }

                div.modal-client-info{
                    border : 1px #e6e6e6 solid ;
                    border-radius: var.$rounded-lg;
                    padding: 1.5rem;
                    display : flex;
                    flex-direction: column;
                    gap: var.$gap-2xl;
                    height: fit-content;
                    
                    div.wrapper{
                        display : flex;
                        align-items: center;
                        gap: var.$gap-base;

                        div.icon{
                            color : var.$orange;
                            font-size: var.$txt-xl;
                        }

                        h3{
                            font-size: var.$txt-lg;
                            font-weight: 600;
                        }
                    }

                    div.client-infos{
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-xl;

                        div.wrapper {
                            display : flex;
                            align-items: center;
                            gap: var.$gap-base;

                            div.client-picture > img{
                                width : 3rem;
                                height : 3rem;
                                object-fit: cover;
                                object-position: 50% 50%;
                                border-radius: 100%;
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                            }

                            div.client-name{
                                display : flex;
                                flex-direction: column;
                                gap: var.$gap-xs;

                                h4{
                                    font-size: var.$txt-base;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    div.client-contact {
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-xl;

                        div.contact-wrapper { 
                            display: flex;
                            align-items: center;
                            gap: var.$gap-base;
                                a.contact,
                                div.contact{
                                    font-size: var.$txt-lg;
                                    padding: 1.2rem;
                                    border-radius: var.$rounded-lg;
                                    height: 2rem;
                                    width: 2rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.2s ease-in-out;
                                }

                                a.contact.client-phone{
                                    @include mxn.info($hover:true);
                                }

                                a.contact.client-email{
                                    @include mxn.success($hover:true);
                                }

                                div.contact.client-address{
                                    @include mxn.danger($hover:true);
                                }

                                p {
                                    font-size: var.$txt-sm;
                                }
                        }
                    }
                }

                div.craftsman-quote-prestation{
                    border : 1px #e6e6e6 solid ;
                    border-radius: var.$rounded-lg;
                    padding: 1.5rem;
                    display : flex;
                    flex-direction: column;
                    gap: var.$gap-2xl;

                    div.wrapper{
                        display : flex;
                        align-items: center;
                        gap: var.$gap-base;

                        div.icon{
                            color : var.$success;
                            font-size: var.$txt-xl;
                        }
                        
                        h3{
                            font-size: var.$txt-lg;
                            font-weight: 600;
                        }
                    }

                    form.quote{
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-base;

                        div.input-wrapper {
                            width: 100%;
                        }
                    }
                }
                
                div.actions-btn{
                    border : 1px #e6e6e6 solid ;
                    border-radius: var.$rounded-lg;
                    padding: 1.5rem;
                    display : flex;
                    flex-direction: column;
                    gap: var.$gap-2xl;

                    div.wrapper{
                        display : flex;
                        align-items: center;
                        gap: var.$gap-base;

                        div.icon{
                            color : #facc15;
                            font-size: var.$txt-xl;
                        }

                        h3{
                            font-size: var.$txt-lg;
                            font-weight: 600;
                        }
                    }

                    div.info-card{
                        display : flex;
                        flex-direction: column;
                        gap: var.$gap-base;

                        button {
                            border-radius: var.$rounded-lg;
                            border: none;
                            transition: 0.1s ease-in-out;
                            padding : 0.5rem 1rem;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: var.$gap-sm;
                            cursor: pointer;

                            svg{
                                font-size: var.$txt-base
                            }
                            
                            &.action-cancel{
                                @include mxn.danger($hover:true);
                            }
                            &.action-accept{
                                @include mxn.success($hover:true);
                            }
                            &.action-refuse{
                                @include mxn.danger($hover:true);
                            }
                        }

                        p.prestation-info {
                            padding: 1.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: var.$rounded-lg;
                            font-size: var.$txt-sm;
                            text-align: center;

                            &.pending{
                                @include mxn.pending;
                            }

                            &.info{
                                @include mxn.info;
                            }

                            &.success{
                                @include mxn.success;
                            }

                            &.cancel{
                                @include mxn.danger;
                            }
                        }
                    }
                }
            }

        }
    }
}