@use "../../../../assets/scss/variables" as var;
@use "../../../../assets/scss/mixins" as mxn;
@use "../../../../assets/scss/extends" as ext;

div.modal-send-message{
    display : flex;
    flex-direction: column;

    width: 100%;
    
    @media screen and (min-width : var.$bp-md) {
        max-width: 35rem;
    }

    div.modal-header{
        padding : 1.5rem;
        background-color: var.$light-gray;
    }

    form.send-message {

        display: flex;
        flex-direction: column;
        gap: var.$gap-xl;

        padding : 1.5rem;

        div.btn-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            gap: var.$gap-lg;

            @media screen and (min-width : var.$bp-md) {
                    flex-direction: row;
                }

            button {
                width : 100%;
                @media screen and (min-width : var.$bp-md) {
                    width : fit-content;
                }
            }

            button.btn-primary{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var.$gap-xs;
                svg {
                    font-size: var.$txt-sm;
                }
            }
        }
    }

    p.message-sended {
        display : flex;
        align-items: center;
        justify-content: center;
        gap: var.$gap-xl;
        padding : 2rem 2rem 0;

        color : var.$success;
        svg {
            font-size: var.$txt-xl;
        }
    }

    button.btn-message-sended {
        width : 6rem;
        align-self: center;
        margin: 2rem 0;
    }
}