@use "../../../../../assets/scss/variables" as var;
@use "../../../../../assets/scss/mixins" as mxn;
@use "../../../../../assets/scss/extends" as ext;

div.user-password-input{
    display : grid;
    grid-template-columns: repeat(1, 1fr);
    gap : var.$gap-xl;

    @media screen and (min-width : var.$bp-lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}