@use "../../../../../assets/scss/variables" as var;
@use "../../../../../assets/scss/mixins" as mxn;
@use "../../../../../assets/scss/extends" as ext;

div.user-picture-wrapper{
    display : flex;
    flex-direction: column;
    gap : var.$gap-xl;
    align-items: center;

    div.picture-wrapper{
        width: 15rem;
        height : 15rem;
        position : relative;

        div.input-file-wrapper{
            width: 100%;
            height : 100%;
            overflow: hidden;
            position : relative;
            
            border-radius: 100%;
            border : 3px #e6e6e6 solid ;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

            label {
                position : absolute;
                inset: 0;
                display : flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transition: all 0.3s ease-out;
                background: rgba(var.$black, 0.5);
                opacity: 0;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                svg {
                    font-size: var.$txt-3xl;
                    color: var.$secondary-hover;
                    transition: all 0.1s ease-in-out;
                    &:hover{
                        font-size: var.$txt-4xl;
                    }
                }
            }

            input#profile_picture {
                position : absolute;
                inset: 0;
                overflow: hidden;
                opacity: 0;
            }
            
            img.profile-picture {
                width: 100%;
                height : 100%;
                object-fit : cover;
                object-position: 50% 50%;
            }

        }
        button.button-delete-picture {
            position : absolute;
            right : 1.35rem;
            top : 1.35rem;
            background-color: transparent;
            border : none;
            color : var.$danger;
            cursor : pointer;
            transition: all 0.1s ease-out;
            z-index: 1;

            svg {
                font-size: var.$txt-2xl;
                transition: all 0.1s ease-in-out;
                &:hover {
                    font-size : var.$txt-3xl;
                }
            }

            &:hover{
                color : var.$danger-hover;
            }
        }
    }
    
    button.mobile-button-picture{
        width: 100%;
        @media screen and (min-width : var.$bp-md) {
            display: none;
        }
    }

    div.wrapper {
        width: 100%;
        @media screen and (min-width : var.$bp-md) {
            width : 30%;
        }
    }
}