@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins" as mxn;
@use "../../assets/scss/extends" as ext;

div.input-wrapper {
    display: flex;
    flex-direction: column;
    gap : var.$gap-sm;
    position : relative;

    label {
        font-size : var.$txt-sm;
        font-weight: 500;
    }

    input {
        @include mxn.default-input;
    }

    button.show-pwd {
        position: absolute;
        right: 0.8rem;
        top: 2.3rem;
        background-color: transparent;
        border : transparent;
        cursor: pointer;
        color : var.$black;
        transition: all 0.2s ease-in-out;
    }

    button.show-pwd:hover {
        color : var.$gray;
    }
}