@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins" as mxn;
@use "../../assets/scss/extends" as ext;

section.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var.$gap-2xl;
    padding: 0 2rem;

    @media screen and (min-width: var.$bp-lg) {
        max-width: var.$bp-2xl;
    }

    div.tab-list {
        background-color: #ebebeb;
        width: 100%;
        justify-content: space-between;

        align-self: start;
        display: flex;
        flex-wrap: wrap;
        gap: var.$gap-sm;

        padding: 0.25rem 0.5rem;
        border-radius: var.$rounded-lg;

        @media screen and (min-width: var.$bp-sm) {
            width: fit-content;
        }

        button.tab-item {
            flex-grow: 1;

            position: relative;
            color: #71717a;
            font-size: var.$txt-sm;
            font-weight: 600;
            padding: 0.4rem 1rem;
            cursor: pointer;
            background-color: transparent;

            // Prevent select text
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            display: flex;
            align-items: center;
            justify-content: center;
            gap: var.$gap-xs;
            border: none;
            transition: 0.1s ease-out;

            &:hover {
                background-color: transparent;
                color: var.$black;
            }

            span.tab-title {
                display : none;
                @media screen and (min-width: var.$bp-sm) {
                    display : inline-block;
                }
            }

            @media screen and (min-width: var.$bp-sm) {
                flex-grow: 0;
                padding: 0.4rem 0.65rem;
            }
        }

        button.selected {
            background-color: rgba(var.$secondary, 1);
            animation: fade-in 0.3s ease-out;
            border-radius: var.$rounded-lg;
            color: var.$black;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            &:hover {
                background-color: var.$secondary;
            }
        }
    }
}

@keyframes fade-in {
    from {
        background-color: rgba(var.$secondary, 0);
    }

    to {
        background-color: rgba(var.$secondary, 1);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px var.$danger;
    }
    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}
