@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins" as mxn;
@use "../../assets/scss/extends" as ext;

div.textarea-wrapper{
    display: flex;
    flex-direction: column;
    gap : var.$gap-sm;

    label {
        font-size : var.$txt-sm;
        font-weight: 500;
    }

    textarea {
        @include mxn.default-input;
        resize : vertical;
    }
}