@use "../../../../assets/scss/variables" as var;
@use "../../../../assets/scss/mixins" as mxn;
@use "../../../../assets/scss/extends" as ext;

div#messages-tab{

    svg.loading-list {
        margin : 4rem auto;
        display: block;
    }

    ul.conversation-list{
        display: flex;
        flex-direction: column;

        gap : var.$gap-xl;

        li.card{
            background-color: var.$full-white;
            border : 1px #e6e6e6 solid ;
            border-radius: var.$rounded-lg;
            padding : 1.5rem;

            transition: background-color 0.2s ease-in-out;
            cursor: pointer;

            &:hover{
                background: rgba(var.$secondary-hover, 0.8);
            }
        }

        li.contact-discussion {
            display: flex;
            gap: var.$gap-2xl;

            div.image-container{

                img.image-profile{
                    border-radius: 100%;
                    width: 5rem;
                    height : 5rem;
                    object-fit : cover;
                }
            }

            div.infos-discussion {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: var.$gap-md;

                
                div.contact-name-date{

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    @media screen and (min-width : var.$bp-md) {
                        flex-direction: row;
                        align-items: center;
                        gap: var.$gap-2xl;
                    }

                    div.message-date {
                        display: flex;
                        align-items: center;
                        gap: var.$gap-sm;
                        color : var.$gray;
                        font-size: var.$txt-sm;
                    }

                    h3{
                        font-size: var.$txt-lg;
                        font-weight: 700;
                    }
                    
                }

                p.message-content {
                    color: var.$gray;
                    font-size: var.$txt-sm;
                    @include mxn.limitLineText(1)
                }
            }
        }
    }
}